<nav class="navbar">
  <div class="navbar-brand">MyProject</div>
  <button class="navbar-toggle" aria-label="toggle navigation">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <div class="navbar-links-container">
    <ul class="navbar-links">
      <li><a href="/" data-link>Home</a></li>
      <li><a href="/project" data-link>Projects</a></li>
      <li><a href="/resume" data-link>Resume</a></li>
      <li><a href="/about" data-link>About Me</a></li>
    </ul>
  </div>
</nav>